<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link href="/css/stylesheet.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/top" class="logo">
        <img src="/images/logo.jpg" alt="logo">
        </a>
        <h1>BLG選手名鑑</h1>
        <!---<ul>
            <li>ようこそゲストさん</li>
            <li><a href="#">ログイン</a></li>
        </ul>--->
    </header>

    <main>
        <div class="container">
            <h2>ログイン</h2>
            <p>チームネーム</p>
            <p><input type="text"></p>
            <p>パスワード</p>
            <p><input type="password"></p>
            <p><button type="submit">ログイン</button></p>
        </div>
    </main>
    
</body>
</html>