body{
    margin: 0px;
    font-family: "HG丸ｺﾞｼｯｸM-PRO";
}

header {
    height: 100px;
    background-color: #DAE3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main{
    background-color: #FAFAFF;
    height: 1200px;
    text-align: center;
}

.logo {
    position: absolute;
    left: 10px; /* 左に寄せる */
    
    height: 80px; /* ヘッダーの高さに合わせる */
    display: flex;
    align-items: center; /* ロゴを縦中央に */
}

header h1 {
    margin: 0;
    color: gray;
    font-size: 50px;
    font-weight: normal;
    line-height: 100px;
}


header ul {
    list-style: none;
    position: absolute;
    right: 50px;
    top: 10px;
    line-height: 30px;
}


.container{
    padding: 100px;
    text-align: center;
    margin-top: 0px;
    margin: auto;
}

.container2{
    padding: 100px;
    text-align: center;
    margin-top: 0px;
    margin: auto;
    width: 300px;
}

.container h2{
    padding-bottom: 10px;
}

.container h4{
    padding-top: 50px;
    font-weight: normal;
}

.new_team{
    margin-top: 20px;
}

.edit{
    margin-top: 30px;
}

.accform{
    margin-top: 70px;
}

.account{
    margin-top: 60px;
}